div{
  box-sizing: border-box!important;
}
.content-wrap{
  height: 100vh;
}
.deplete-animation{
  animation: deplete .5s linear forwards;
}

.expand-animation{
  animation: deplete .5s linear reverse forwards;
}

@keyframes    deplete {
  0%{
      width: 100%;
      opacity: 1;
  }
  100%{
      width: 0%;
      opacity: 0;
  } 
}
.left-info{
  height: 85%;
  width: 100%;
}
.showcase{
  width: 45%;
}
.right-info{
  width: 40%;
  height: 100%;
}
.right-item:nth-child(1){
  width: 100%;
  height: 25%;
}
.right-item:nth-child(2){
  width: 100%;
  height: 55%;
  text-align: center;
}
.display-num{
  width: 30%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.display-num p{
  line-height: 4rem;
  margin: auto;
  display: block;
}
.display-info{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: .7;
}
.btn-wrap{
  text-align: center;
}
.item{
  height: 70%;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
}
.item img{
  width: auto;
  max-height: 200px;
  max-width: 180px
}
.main{
  text-align: center;
}